<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>DB Example</title>
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-app="starter">
    <ion-pane ng-controller="DBController">
        <ion-header-bar class="bar-positive">
            <h1 class="title">Pessoas</h1>
        </ion-header-bar>
        
        <ion-content>
            <div class="list">
              <label class="item item-input item-floating-label">
                <span class="input-label">First Name</span>
                <input type="text" placeholder="First Name" data-ng-model="fsName">
              </label>
              <label class="item item-input item-floating-label">
                <span class="input-label">Last Name</span>
                <input type="text" placeholder="Last Name" data-ng-model="lstName">
              </label>
              <button class="button button-balanced" ng-click="select(lstName)">Select</button>
              <button class="button button-positive" ng-click="insert(fsName,lstName)">Insert</button>
              <button class="button button-energized" ng-click="update(fsName,lstName)">Update</button>
              <button class="button button-royal" ng-click="selectAll()">List</button>
              <label class="item item-input">
                <input type="text" readonly value="{{resultado}}">
              </label>
                
              <ion-list>
                <ion-item ng-repeat="people in peopleList">
                    {{people.firstname}} - {{people.lastname}}
                    <ion-option-button class="button-assertive icon ion-trash-a" ng-click='delete(people.lastname)'></ion-option-button>
                </ion-item>
              </ion-list>
                                
            </div>
        </ion-content>
        
        <ion-footer-bar class="bar-positive">
            <h1 class="title">Pessoas</h1>
        </ion-footer-bar>
        
    </ion-pane>
</body>

</html>